.acc-bal {
    background: rgba(0,0,0,.3);
    width: 30vw;
    height: 15vh;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.acc-head {
    text-decoration: underline white 5px;
}

.debit {
    color: red;
}

.credit {
    color: green;
}

.home {
    position: relative;
    left: 20vw;
    top: 10vh;
}